body{
    font-family: sans-serif;
}
.b-logo img{
   width: 100px;
   display: inline-block;
   
}
.bosh-boshqaruvi{
    display: inline-block;
}
.bosh-sarlavha-b{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
.b-logo{
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}
.bosh-sarlavha-b a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 15px;
    margin-left: 30px;
}
.bosh-sarlavha-b a:hover{
    color: hotpink;

}
.bosh-sarlavha-b.active a {
color: hotpink;
}
.bosh-joy{
    margin-top: 120px;
}
.bosh-text1{
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 200;
    
}
.bosh-text2{
    margin-top: -10px;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
}
.bosh-text3{
    margin-top: -20px;
    font-size: 30px;
    text-transform: uppercase;
font-weight:100 ;
}
.i-k-icon{
    width: 180px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(45deg, #4f46e5, #ec4899);
    color: azure;
  transition: 0.3s;
  margin-top: 80px;
  border: solid white;
}

.i-k-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgb(255, 255, 255);
}
.main-section{
    margin-left: 300px;
}
.jadval-me{
        border-radius: 10px;

    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding:0  50px;
    margin-bottom: 20px;
    color: #00bcd4;
}
.xaridor{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(45deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-me2{
    border-radius: 10px;
    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
    color: #00bcd4;
    margin-left: 25px;
}
.xaridor2{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(45deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-me3{
    border-radius: 10px;
    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
    
    margin-left: 25px;
    
}
.xaridor3{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(50deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-b{
margin: 100px;
}
.about-me-text{
margin-top: 40px;
margin-left: 1000px;
text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    color: #888;
}
.ok3{
   background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ok2{
    background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ok{
    background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-me-text{

}
.about-me-text-a{
     line-height: 25px;
max-width: 450px;
margin-left: 960px;
font-size: 16px;
    color: #888;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.about-me-text-b{
     line-height: 60px;
max-width: 450px;
margin-left: 960px;
font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        
    }
    .i-k-icon2{
    width: 180px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(45deg, #4f46e5, #ec4899);
    color: azure;
  transition: 0.3s;
  margin-top: 15px;
  margin-left: 1000px;
  border: solid white;
}

.i-k-icon2:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgb(255, 255, 255);
}
.backgraund-fon{
    display: inline-block;
    margin-left: 1000px;
    width: 1000px;
    height: 600px;
   
    margin-top: -700px;
    position: absolute;

}
.backgraund-fon2{
    display: inline-block;
    margin-left: 200px;
    width: 700px;
    height: 600px;
    display: flex;
    margin-top: -600px;

}
body{
    overflow-x: hidden;
}