body{
    font-family: sans-serif;
}
.b-logo img{
   width: 100px;
   display: inline-block;
   
}
.bosh-boshqaruvi{
    display: inline-block;
    position: fixed;
    border-radius: 20px;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 20%);
    z-index: 3000;
    width: 100%;
    top: 20px;
    left: 0;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(15px);
}
.bosh-sarlavha-b{
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
    transition: 0.3s;
}
.bosh-sarlavha-b:hover{
    transform: translateY(-5px);
}
.b-logo{
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}
.bosh-sarlavha-b a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bolder;
    font-size: 15px;
    margin-left: 30px;
}
.bosh-sarlavha-b a:hover{
    color: hotpink;
    transition: 0.3s;
}
.bosh-sarlavha-b.active a {
color: hotpink;
}
.bosh-joy{
    margin-top: 120px;
}
.bosh-text1{
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 200;
    
}
.bosh-text2{
    margin-top: -10px;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
}
.bosh-text3{
    margin-top: -20px;
    font-size: 30px;
    text-transform: uppercase;
font-weight:100 ;
}
.i-k-icon{
    display:block;
    width: 180px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(45deg, #4f46e5, #ec4899);
    color: azure;
  transition: 0.2s;
  margin-top: 50px;
  border: solid white;
  cursor: pointer;
}

.i-k-icon:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgb(255, 255, 255);
  background: linear-gradient(45deg,#ec4899 , #4f46e5);
}
.main-section{
    margin-left: 300px;
}
.jadval-me{
        border-radius: 10px;

    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding:0  50px;
    margin-bottom: 20px;
    color: #00bcd4;
}
.xaridor{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(45deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-me2{
    border-radius: 10px;
    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
    color: #00bcd4;
    margin-left: 25px;
}
.xaridor2{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(45deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-me3{
    border-radius: 10px;
    display: inline-block;
    background: #f3f3f3;
    text-align: center;
    padding: 0 50px;
    margin-bottom: 20px;
    
    margin-left: 25px;
    
}
.xaridor3{
    font-weight: 200;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
background: linear-gradient(50deg, #4f46e5, #876383);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.jadval-b{
margin: 100px;
}
.about-me-text{
    margin-left: 1000px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #888;
}
.ok3{
   background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ok2{
    background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ok{
    background: linear-gradient(45deg, #4f46e5, #ffffff);
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-me-text{
display: inline;
}
.about-me-text-a{
     line-height: 25px;
max-width: 450px;
margin-left: 960px;
font-size: 16px;
    color: #888;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.about-me-text-b{
     line-height: 60px;
max-width: 450px;
margin-left: 960px;
font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    }
.i-k-icon2{

  position: relative;
  z-index: 10;

  width: 180px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(45deg, #4f46e5, #ec4899);
  color: azure;
  transition: 0.2s;
  margin-top: 15px;
  margin-left: 1000px;
  border: solid white;
  cursor: pointer;
}

.i-k-icon2:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgb(255, 255, 255);
   background: linear-gradient(45deg,#ec4899 , #4f46e5);
}
.backgraund-fon{
    display: inline-block;
    margin-left: 1100px;
    width: 1200px;
    height: 1100px;
    margin-top: -1000px;
    position: absolute;
}
.backgraund-fon2{
    display: inline-block;
    margin-left: 270px;
    width: 600px;
    height: 600px;
    display: flex;
    margin-top: -580px;
    border-radius: 50px;
    
}
body{
    overflow-x: hidden;
}
.blur-line{
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 10px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(8px);
    border-radius: 4px;
}

.servise-me-text{
display: inline;
}
.servise-me-text-b{
     line-height: 60px;
max-width: 500px;
margin-left: 260px;
font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    }
.blur-line-1{
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 10px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(8px);
    border-radius: 4px;
}
.servise-me-text{
margin-top: 120px;
margin-left: 300px;
text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    color: #888;
}
.servise{
    padding: 150px 1px;
}
body{
  margin: 0;
  padding: 0;
  
  font-family: Arial, sans-serif;
}

.services{
  padding: 80px 0;
}

.container{
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.card{
  background: #F8FAFF;
  padding: 40px 30px;
  text-align: center;
  border-radius: 8px;
  width: 33%;
  transition: 0.3s;
}

.card:hover{
  transition: 0.5s;
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  color: #fefefe;
  background-color: #4f46e5;
}

.icon{
  font-size: 40px;
  margin-bottom: 20px;
}

.card h3{
  margin: 0 0 15px 0;
  color: #222;
}
.card h3:hover{

}

.card p{
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  margin: 0 0 20px 0;
}

.card a{
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #828282;
  position: relative;
}

.card a::after{
  content: "";
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg,#4f46e5,#ec4899);
  display: block;
  margin: 5px auto 0;
}
.services{
    display: inline;
}

.card:hover h3,
.card:hover p,
.card:hover a{
  color: white;
}
.card:hover a::after{
  background: white;
}
.icon{
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #4f46e5;
  transition: 0.3s;
}

.card:hover .icon{
  color: red;
}
.client-me-text{
display: inline;
}
.client-me-text-b{
     line-height: 60px;
max-width: 500px;
margin-left: 260px;
font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    }
.blur-line-2{
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 10px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(8px);
    border-radius: 4px;
}
.client-me-text{
margin-top: 120px;
margin-left: 300px;
text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    color: #888;
}
.client-img{
    width: 500px;
    height: 400px;
    margin-left: 250px;
}
.client-me-text-a{
     line-height: 25px;
max-width: 450px;
margin-left: 960px;
margin-top: -300px;
font-size: 16px;
    color: #888;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.client-me-text-c{
    margin-top: -250px;
     line-height: 60px;
max-width: 500px;
margin-left: 960px;
font-size: 30px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    }
    .client-star{
        margin-left: 1000px;
        margin-top: -20px;
        color: #ffd804;
    }
    .portfolio1-me-text{
display: inline;
}
.portfolio1-me-text-b{
     line-height: 60px;
max-width: 500px;
margin-left: 260px;

font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    word-spacing: 4px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  
    }
.blur-line-3{
    display: inline-block;
    margin-left: 5px;
    width: 120px;
    height: 10px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(8px);
    border-radius: 4px;
}
.portfolio1-me-text{
margin-top: 520px;
margin-left: 300px;
text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    margin-bottom: 10px;
    color: #888;
}
.portfolio1{
    margin-top: 450px;
}
/* From Uiverse.io by eslam-hany */ 
.card-portfolio {
    margin-left: 400px;
  position: relative;
  width: 420px;
  height: 620px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
    background-image: url(./img/p1.jpg);

}

.card-portfolio::before,
.card-portfolio::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  transition: all 0.5s;
}

.card-portfolio::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-portfolio::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-portfolio:hover::before,
.card-portfolio:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(150px);
}
/* From Uiverse.io by eslam-hany 2 */ 
.card-portfolio2 {
    top: -310px;
    margin-left: 50px;
  position: relative;
  width: 570px;
  height: 306px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
    background-image: url(./img/p4.jpg);
}
.card-portfolio2::before,
.card-portfolio2::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.5s;
}

.card-portfolio2::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-portfolio2::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-portfolio2:hover::before,
.card-portfolio2:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(150px);
}


/* From Uiverse.io by eslam-hany 2 */ 
.card-portfolio3 {
    top: 0px;
    margin-left: -570px;
  position: relative;
  width: 261px;
  height: 281px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
    background-image: url(./img/p2.jpg);

}

.card-portfolio3::before,
.card-portfolio3::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.5s;
}

.card-portfolio3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-portfolio3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-portfolio3:hover::before,
.card-portfolio3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(150px);
}

/* From Uiverse.io by eslam-hany 2 */ 
.card-portfolio4 {
    top: 0px;
    margin-left: 40px;
  position: relative;
  width: 261px;
  height: 281px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
    background-image: url(./img/p3.jpg);

}

.card-portfolio4::before,
.card-portfolio4::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.5s;
}

.card-portfolio4::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-portfolio4::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-portfolio4:hover::before,
.card-portfolio4:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 1s;
   backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(150px);
}
